/* Configuración para el elemento h1 */
h1 {
    font-size: 36px;
    color: #0000FF; /* Azul */
    font-family: "Arial", sans-serif;
}

/* Configuración para el elemento h2 */
h2 {
    font-size: 28px;
    color: #000000; /* Negro */
    font-family: "Arial", sans-serif;
}

/* Configuración para los textos de párrafo */
p {
    font-size: 14px;
    color: #000000; /* Negro */
    font-family: "Arial", sans-serif;
}
